<!DOCTYPE html>
<html lang="en"> 
<head> 
    <meta charset="UTF-9">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <center><title>Μάντεψε τον αριθμό</title></center>
</head>
<body>
    <center> <h1>Καλωσορίσατε στο παιχνίδι "Μάντεψε τον αριθμό"</h1> 
    <p> Διάλεξε έναν τυχαίο ακέραιο αριθμό από το -100 εως το 100 και θα σε καθοδηγίσω ώστε να τον βρεις </p>
        <form action="/" method="post">
        <label for="guess">Ο αριθμός που μαντεύεις :</label>
        <input type="text" id="guess" name="guess">
        <input type="submit" value="Καταχώρηση"></center>
    
    </form>
    
    <center><p> {{ message }}</p></center> 
</body>

</html>
